PureSeeder.Core/Configuration/PureConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:PureSeeder.Core.Configuration" elementFormDefault="qualified" targetNamespace="urn:PureSeeder.Core.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PureConfig" type="tns:PureSeeder.Core.Configuration.PureConfigSectionCT" />
	<xs:complexType name="PureSeeder.Core.Configuration.PureConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="servers" type="tns:PureSeeder.Core.Configuration.ServerSettingsCollectionCT">
				<xs:annotation>
					<xs:documentation>The Servers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="settings" type="tns:PureSeeder.Core.Configuration.AppSettingsCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PureSeeder.Core.Configuration.ServerSettingsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="server" type="tns:PureSeeder.Core.Configuration.ServerCT">
				<xs:annotation>
					<xs:documentation>A server to seed on</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PureSeeder.Core.Configuration.ServerCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="address" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minPlayers" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MinPlayers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxPlayers" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxPlayers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PureSeeder.Core.Configuration.AppSettingsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:PureSeeder.Core.Configuration.SettingCT">
				<xs:annotation>
					<xs:documentation>The Setting Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PureSeeder.Core.Configuration.SettingCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
